.card {
    background: #1238e2;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.button {
    background: #e71818;
    border-radius: 12px; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-style: none;
    float: right;
    cursor: pointer;
    margin: 1px 5px;
}
